# fly.toml app configuration file generated for chainsync-backend-winter-sound-6706 on 2025-11-29T21:01:43+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chainsync-backend-winter-sound-6706'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  DJANGO_SETTINGS_MODULE = 'chainsync.settings'
  PORT = '8000'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
